@font-face {
    font-family: Cera Pro Black Italic, Cera Pro Black, Cera Pro Bold, Cera Pro Light, Cera Pro Medium, Cera Pro Regular Italic;
    src: url( c:\Users\GENERAL STORES\Desktop\MY PROJECTS\blueApron\Office_Avtivator\cera pro sv\Cera Pro Black Italic.otf Office_Avtivator/cera pro sv/Cera Pro Black.otf Office_Avtivator/cera pro sv/Cera Pro Bold.otfOffice_Avtivator/cera pro sv/Cera Pro Light.otfOffice_Avtivator/cera pro sv/Cera Pro Medium.otfOffice_Avtivator/cera pro sv/Cera Pro Regular Italic.otf);
}

/* Eric Meyer's Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
============================================
HEADER STYLES
============================================
*/

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0.1px;
}

li {
    margin-right: 20px;
    color: black;
}

li a:hover {
    color: rgb(74, 74, 158);
}

header {
    background-color: white;
    padding: 1px 0;
}
.sticky-header {
    position: fixed;
    height: 89px;
    width: 100%;
    font-style: normal;
    font-size: 10px;
    line-height: 24px;
    color: #6a6d75;
    font-weight: 400;
}
.image-section {
    background: url('./desktop-splash-v2.jpg') center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.ratings-section {
    font-style: normal;
    background-color: #6a6d750c;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
    padding: 25px;
    font-size: 14px;
    letter-spacing: .5px;
}

.ratings-title {
    font-size: 32px;
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
font-style: normal;
font-weight: 700;
line-height: 43px;
color: #303235;
}

.app-store-text {
    color: blue;
}

.btn {
    text-align: center;
    background-color: #1814fa;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin: auto;
    padding: 10px;
}

.rating-text {
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 24px;
   color: #303235;
    margin-top: 30px;
}
.ratings-sub-text {
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
    color:#303235;
    font-style: normal;
}
.ratings-sub-text {
    margin-bottom: 30px;
}


nav {
    display: flex;
    align-items: center;
}

nav img {
    width: 160px;
    height: 90px;
    margin-right: 0px;
}

.main {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: gray;
    font-size: 14px;

}



/*code to move login link and signup button to the end */
.auth-links {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.login {
    color: grey;
    margin: 10px;
    font-size: 14px;
    padding: 1;
}

.signup {
    background-color: #fa5114;
    color: white;
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.signup:hover {
    background-color: #ff6347;
}



  /*
  ====================================
  IMAGE STYLES & BUTTONS 
  ====================================
  */

.image-container {
    position: relative;
    display: block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.define {
    position:relative;
    top: 60%;
    left: 15%;
    transform: translate(-6%, -2%);
    color: #002684;
    padding: 10px 20px;
    font-size: 40px;
    font-family: "Chronicle Deck", Times, serif;
    line-height: 48px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
}


.image-container {
    position: relative;
    max-width: 100%;
}

.image {
    display: block;
}

.image-button {
    position: absolute;
    top: 29%;
    left: 15% 
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: blue;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.imageButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.plans {
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    padding: 10px;
    margin-left: 100px;
    margin-bottom: 40px;
    display: block;
    height: 30px;
    width: 10rem;
    font-size: 16px;
    line-height: 50px;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px; 
    color: rgb(249, 249, 250);
    background-color: rgb(3, 3, 99);
     border: 2px;
    border-radius: 70px;  
}
/*
  =======================================
  BODY
  =======================================
*/
.div {
    padding: 25px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    width: 30px;
}

.diva {
    display:flex;
    margin-bottom: 30rem;
}
.containersmenu h3 {
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #303236;
    font-style: normal;
    justify-content: center;
}
.containersmenu p {
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color:#303236;
    text-align: center;
}
h1 {
    display: flex;
    font-size: 24px;
    line-height: 44px;
}

h2 {
    display: flex;
    font-size: 24px;
    line-height: 44px;
}

h3 {
    display: flex;
    font-size: 21px;
}

h4 {
    display: flex;
    font-size: 18px;
}

h5 {
    display: flex;
    font-size: 18px;
}

.div {
    width: 100%;
    display: wrap;
}



h1 {
    display: flex;
    font-size: 21px;
    line-height: 44px;
}

h2 {
    display: flex;
    font-size: 21px;
    line-height: 44px;
}

h3 {
    display: flex;
    font-size: 21px;
}

h4 {
    display: flex;
    font-size: 18px;
}

h5 {
    display: flex;
    font-size: 18px;
}

.div {
    width: 100%;
    display: flex;
}
p {
    margin-bottom: 0.5rem;
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: #6a6d75;
    margin-top: 0.5rem;
}
.menu-button {
    font-family:  "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    width: 17rem;
    font-style: normal;
    font-size: 16px;
    line-height: 46px;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 3px -1.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #002c9b;
    font-weight: 500;
    border: 2px solid rgb(16, 16, 204);
    border-radius: 70px;

}

aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: .5px;
    color: rgb(27, 42, 182);
    font-weight: 800;
}

.million {
    font-family: "Chronicle Deck", Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    color: #002c9b;
}

.aside h3 {
    font-weight: 400;
    font-size: 20px;
    color: #303236;
    font-style: normal;
    line-height: 24px;
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    margin-bottom: 3rem;
}

.div {
    width: 100%;
    display: wrap;
}

.two {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    width: 15rem;
    float: left;
}

.containers img {
    width: 90%;
    height: 100%;
}
.div {
    width: 100%;
    display: flex;
}

h1 {
    display: flex;
    font-size: 24px;
    line-height: 44px;
}

h2 {
    display: flex;
    font-size: 24px;
    line-height: 44px;
}

h3 {
    display: flex;
    font-size: 13px;
    line-height: 44px;
    color: #042881;
    font-style: normal;
    font-weight: 700px;
    line-height: 24px;
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    margin-top: 1.5rem;
}


.one {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.one h2 {
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #303236;
    margin-bottom: 2rem;
}

.Meals{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.choose {
    text-align: center;
    width: fit-content;
    font-style: normal;
    font-size: 36px;
    color: #002684;
    font-weight: 600;
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    margin-top: 2rem;
    justify-content: space-between;
    word-spacing: 6px;
    letter-spacing: 7px;
}

.weekly {
    word-spacing: 10px;
    margin-top: 50px;
    text-align: center;
    font-style: normal;
    font-size: 48px;
    font-family: "Chronicle Deck", Times, serif;
    color: #00a0df;
    font-weight: 600;
    line-height: 58px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.plans-buttons {
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    padding: 15px;
    width: 14rem;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 4px;
    justify-content: center;
    align-items: center; 
    color: rgb(249, 249, 250);
    background-color: rgb(3, 3, 99);
     border: 2px;
    border-radius: 70px;
    
}
.plans-button1 {
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    padding: 15px;
    width: 14rem;
    font-size: 16px;
    line-height: 50px;
    text-align: left;
    letter-spacing: 4px; 
    color: rgb(249, 249, 250);
    background-color: rgb(3, 3, 99);
     border: 2px;
    border-radius: 70px;
    margin-right: 1060px;
}
.plans-button {
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    padding: 15px;
    width: 14rem;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 4px;
    justify-content: center;
    align-items: center; 
    color: rgb(249, 249, 250);
    background-color: rgb(3, 3, 99);
     border: 2px;
    border-radius: 70px;
}
.plans-buttons2 {
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    padding: 10px;
    width: 12rem;
    height: 40px;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 4px;
    text-align: center;
    justify-content: center;
    align-items: center; 
    color: rgb(249, 249, 250);
    background-color: rgb(3, 3, 99);
     border: 2px;
    border-radius: 70px;
    
}
.containers img {
    width: 130%;
    height: 150%;
}

.one h2 {
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number{
   font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
   font-size: 16px;
   color: #080808;
}

.containers {
    font-family: HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-weight: 500px;
    font-size: 14px;
    line-height: 20px;
    color: #6a6d75;
    padding-left: 0rem;
    padding-right: 40px;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    position: relative;
    width: 540px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containersmenu img{
 width: 100%;
}
.containersmenu {
    font-family: HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-weight: 400px;
    font-size: 15px;
    width: 100%;
    line-height: 24px;
    color: #6a6d75;
    height: 20px;
    padding-left: 30px;
    padding-right: 20px;
    justify-content: space-between;
}
 .containers img {
    width: 90%;
    height: 100%;
    
}
.containersyears{
    margin-top: 80px;
}
.image-containers {
    position: relative;
    display: inline-block;
}
.pot {
    width: 100rem;
    height: 40rem;
}
.pancarte {
    position: absolute;
    top: 180px;
    left: 480px;
    background-color: white;
    color: rgb(25, 191, 212);
    padding: 100px;
    font-size: 18px;
    border: 2px none;
    background-position: 20px 10px;
    justify-content: center;
    text-align: center;
    height: 9rem;
    width: 25.9rem;
    }
    .pancarte h1 {
        font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        color: #00a0df;
        margin-top: -2rem;
    }
    .pancarte h3 {
        font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
        font-size: 24px;
        font-style: normal;
        line-height: 30px;
        font-weight: 800;
        color: #002c9b;
        margin-top: 1rem;
    }
    .line {
        background-color: #00a0df;
        padding: 2px;
        margin-top: 2rem;
        margin-left: 130px;
        margin-right: 130px;
    }
    .lines {
        background-color: blue;
        padding: 1px;
        margin-top: 3rem;
        margin-left: 150px;
        margin-right: 250px;
    }
    .reviews {
        font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
        color: rgb(19, 19, 196);
        letter-spacing: 3px;
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        margin-top: -10px;
        margin-left: 170px;
        margin-right: 230px;
    }
    .celebrate  {
        position: absolute;
        top: -1px;
        left: 1.2px;
        margin-right: 7rem;
    }
    .littlecontainer img {
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 30px;
        padding-right: 100px;
        padding: 15px;
        width: 1300px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .little {
        position: relative;
        display: block;
    }
.ingredients1  {
    position: absolute;
    top: 130px;
    left: 480px;
    background-color: white;
    color: rgb(25, 191, 212);
    padding: 60px;
    padding-left: 80px;
    padding-bottom: 30px;
    font-size: 18px;
    border: 2px none;
    height: 9rem;
    width: 25.9rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.ingredients1 h1 {
    font-family: "Chronicle Deck", Times, serif;
    font-style: normal;
    font-size: 32px;
    font-weight: 700;
    line-height: 24px;
    color: #002684;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 17px;
}
.ingredients1 span {
    padding-bottom: 20px;
}
.server {
    font-weight: 400;
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #6a6d75;
}
.service1 {
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #00a0df;
}

.plans-buttons3 {
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    padding: 20px;
    margin-left: 20px;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 4px;
    color: rgb(249, 249, 250);
    background-color: rgb(3, 3, 99);
     border: 2px;
    border-radius: 70px;
    
}
/*
  =======================================
  pricing page
  =======================================
*/

.mealkits {
    font-family: "Chronicle Deck", Times, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    color: #0c0c0c46;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: -8px;
}
.mealkits2 {
    padding: 50px;
    border-radius: 3cap;
    border-color: #042881;
    border:#042881;
}
#pricing-page-mk-toggled {
    border-radius: 2cap;
    margin-left: 60px;
}
#pricing-page-mk-toggled img {

}
#pricing-page-pnr-toggled {
    border-radius: 2cap;
    padding: 10px;
    padding-left: 35px;

}
.type1 {
    text-align: center;
    justify-content: center;
    padding-bottom: 2em;
}
.mealkits2 img {
    width: 90px;
    height: 80px;
    padding-top: -10px;
    padding-bottom: -10px;
}
.sub_section1 {
    padding: 50px;
    padding-bottom:  50px;
    margin-right: 220px;
    margin-left: 230px;
    justify-content: center;
    background-color: white;
}
.choose1 {
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600px;
    line-height: 26px;
    color: #303236;
    transform: translate(35%, -670%);
}
.choice {
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    font-weight: 400;
    color: #6a6d75;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;

}
/*
  ========================================
  FOOTER STYLES
  ========================================

  /* Add this code to style the footer */
  footer {
    color: white;
}

.footer-container {
    background-color: rgba(0, 0, 255, 0.719);
    color: white;
    padding: 200px;
    
   

}
.pom-StayConnected {
    background-color:#fafafa;
    padding: 50px;
}
.pom-list {
    margin-left: 350px; 
    display: flex;
    
}
.pom-list path {
    width: 300px;
    margin-left: 
}
.line4 {
    padding: 1px;
    font-style: normal;
    line-height: 24px;
    background-color: #6a6d75;
    font-weight: 400;
    width: 100px;
    transform: rotateZ(90deg);
    margin-left: 700px;
    }
    .pom-blog {
        display: flex;
        margin-left: 1100px;
        margin-top: 40px;
        
    }
    .BLOG {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 17px;
        color: #303235;
        font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
        
    }
.followus {
    margin-left: 430px;
    margin-top: -20px;
    margin-bottom: 20px;
    font-family: "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color:#080808;
    font-weight: 500;
    font-style: normal;
}
.footer-container-top {
    
    background-color: beige;
}

.footer-container {
    justify-content: space-between;
    flex-wrap: wrap;
    display: block;
}
.footer-data {
    margin: 40px;
    padding-bottom:20px;
}
footer .top-section {
    display: flex;
    padding: 1.5em 2.5em;
    /* background: red; */
    font-size: 14.4px;
    font-weight: 500;
    gap: 0 2em;
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'cera-med';
  }
  
  footer .follow-us {
    display: flex;
    flex-direction: column;
    gap: 2.5em 0;
    padding: 0 12em;
    padding-left: 12em;
  }
  
  .follow-us p:hover,
  .discover p:first-child:hover,
  .blog p:hover {
    text-decoration: underline;
  }
  
  .follow-us p,
  .discover p:first-child,
  .blog p {
    cursor: pointer;
  }
  
  footer .follow-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid lightgray;
  }
  
  footer .follow-us ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 2.2em;
    width: 100%;
  }
  
  
  
  .blog p:first-child {
    text-align: center;
  }
  
  .image-footer {
    display: flex;
    gap: 0 1em;
  }
  
  .image-footer img {
    width: 30%;
    border-radius: 7px;
  }
  
  .image-footer p {
    font-size: 14px;
    color: #303236;
    font-family: 'cera-reg';
  }
  
  .blog {
    display: flex;
    flex-direction: column;
    gap: 1em 0;
    padding: 0 8em;
  
  }
  
  .footer-bottom-section {
  margin-top: 1em;
  margin-bottom: -10em;
  margin-left: -4em;
  margin-right: -3em;
    padding-left: 10em;
    padding-right: 30em;
    background: #0f346c;
    display: flex;
    justify-content: space-between;
  padding-top: 6em;
  padding-bottom: 5em;
  }
  
  .left-section {
    display: flex;
    flex-direction: column;
    gap: 2em 0;
    font-size: 14px;
  }
  
  .left-section p:last-child span a:hover {
    text-decoration: underline;
  }
  
  .left-section p:last-child span a {
    color: #A1BCE6;
    text-decoration: none;
  }
  
  .left-section p:last-child {
    margin: 4em 0 1.5em 0;
    color: white;
  }
  
  .links {
    display: flex;
    gap: 0 4em;
  }
  
  .footer-bottom-section ul h4 {
    font-weight: normal;
    color: white;
  
  }
  
  .links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em 0;
  }
  
  .links ul li a:hover {
    text-decoration: underline;
  }
  
  .links ul li a {
    text-decoration: none;
    color: #A1BCE6;
  
  }
  
  .right-section ul {
    display: flex;
    flex-direction: column;
    gap: .8em 0;
    font-size: 14px;
    list-style: none;
    text-align: right;
  }
  
  .right-section ul li a:hover {
    text-decoration: underline;
  }
  
  .right-section ul li a {
    text-decoration: none;
    color: #A1BCE6;
    cursor: pointer;
  }
  
  .right-section ul i:last-child img {
    width: 71%;
  }
  
  .right-section i:first-child {
    margin-top: .5em;
  }
  
  .right-section i {
    cursor: pointer;
  }
  
  .central {
    /* background: red; */
    padding-bottom: .0.5em;
  }
